/* figma link : https://www.figma.com/file/VkW9XNyzutas6XWS9IuMpY/Untitled?node-id=75%3A200&mode=dev */
* {
  /* background-color: rgba(114, 82, 82, 0.2); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: Roboto;
}

a {
  text-decoration: none !important;
}

/* Hero Section */
#container_hero {
  position: relative;
  top: 10%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

#hero {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: #fff;

  flex-shrink: 0;
  background-image: url("../asserts/hero_bg_cropped.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#heading {
  width: 90%;
  line-height: normal;
  position: relative;
  left: 2.7%;
  margin-top: 8.9%;
  text-align: center;
  font-size: clamp(35px, 5vw, 77px);
  font-weight: 600;
  letter-spacing: 2.31px;
}

#description {
  text-align: center;
  position: relative;
  bottom: 8%;
  width: 70%;
  font-style: normal;
  /* text-align: center; */

  font-size: clamp(15px, 3vw, 26px);
  font-weight: 300;
  line-height: 143.687%;
  /* 37.359px */
  letter-spacing: 0.78px;
}

#btn_touch {
  position: relative;
  bottom: 8%;
}
.button {
  color: #fff;
  width: fit-content;
  padding-left: 3.2%;
  padding-right: 3.2%;
  padding-top: 1%;
  padding-bottom: 1%;
  height: fit-content;
  flex-shrink: 0;
  border-radius: 52px;
  background-color: #61aebc;
  font-size: clamp(15px, 4vw, 24px);
  font-weight: 500;
  letter-spacing: 3px;
}

#explore {
  position: relative;
  bottom: 5%;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.8px;
}

#explore_arrow_svg {
  animation: explore_arrow 1s infinite alternate;
}

@keyframes explore_arrow {
  0% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(10px);
  }
}

/* -- Hero Section --*/

/* ---- text strokes ------ */
.stroke_main {
  margin-top: 1rem;
  margin-bottom: -2rem;

  font-size: clamp(50px, 7vw, 177px);
  color: transparent;
  -webkit-text-stroke: 1.5px #1f344733;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
.stroke_side {
  position: relative;
  font-size: clamp(16px, 5vw, 36px);
  color: #1f3447;
  font-weight: 700;
}
.services_heading_container {
  display: grid;
}
.baseline {
  place-items: baseline;
}
.center {
  place-items: center;
}
.end {
  place-items: end;
}
.services_heading_container > * {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
.left_middle {
  bottom: 0.9rem;
  position: relative;
}
/* ---- text strokes ------ */
/* Services */

.services_details {
  margin-bottom: 1rem;
  margin-inline: auto;
  width: min(90%, 70rem);
  display: grid;
  gap: 2rem;
}
.services_details_container {
  max-width: 378px;
  display: grid;
  gap: 1.5rem;
}

.services_details_container > .head {
  font-size: clamp(1rem, 4vw + 1rem, 2.2rem);
  color: #1f3447;
  font-weight: 500;
  letter-spacing: 0.64px;
  line-height: normal;
  font-style: normal;
}
.services_details_container > img {
  width: 3rem;
}
#help {
  max-width: 378px;
  color: #1f3447;
  font-size: clamp(28px, 5vw, 48px);
  letter-spacing: 0.96px;
  font-weight: 700;
}
#discover,
#callus {
  margin-top: clamp(0.5rem, 5vw, 2rem);
  margin-bottom: clamp(0.5rem, 5vw, 2rem);
}
#services {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: min(90%, 110rem);
}
#services #discover {
  border-radius: 52px;
  background: #61aebc;
  box-shadow: 0px 4px 4px 0px rgba(97, 174, 188, 0.25);
}
/* / Services */
/* Vision and mission */
#vission_mission {
  margin-top: 2rem;
  padding: 5rem;
  background-image: url("../asserts/vision_mission.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#vission_context {
  text-shadow: 1px 1px 1px black;
  color: #f5f5f5;
  font-weight: 400;
  text-align: end;
  margin-top: 5rem;
  max-width: 90%;
}
.right_middle {
  position: relative;
  top: 1rem;
}
.vision_container {
  display: flex;
  flex-direction: column;
  align-items: end;
  /* margin-inline: 50% auto; */
}
.vision_discover {
  display: flex;
  justify-content: center;
}
#discover {
  font-size: 1em;
}
/* / Vision and mission */

/* Our work */
#our_works {
  margin-top: 3rem;
}
.clients_logo {
  width: min(90%, 110rem);
  margin-inline: auto;
  margin-top: 3rem;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  place-items: center;
  grid-template-areas: "one" "two" "three" "four" "five" "six" "seven" "eight" "nine";
}
.clients_logo > :nth-child(1) {
  grid-area: one;
}
.clients_logo > :nth-child(2) {
  grid-area: two;
}
.clients_logo > :nth-child(3) {
  grid-area: three;
}
.clients_logo > :nth-child(4) {
  grid-area: four;
}
.clients_logo > :nth-child(5) {
  grid-area: five;
}
.clients_logo > :nth-child(6) {
  grid-area: six;
}
.clients_logo > :nth-child(7) {
  grid-area: seven;
}
.clients_logo > :nth-child(8) {
  grid-area: eight;
}
.clients_logo > :nth-child(9) {
  grid-area: nine;
}
.clients_logo > * {
  margin-inline: auto;
  width: 50%;
}
.bottom_middle {
  position: relative;
  top: 2.3rem;
}
/* / Our work */
/* Idea */
#idea {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  overflow: hidden;
  background: #edeff3;
  padding: 0;
  /* display: grid; */
}
#idea_wrapper {
  width: 140%;
}
#callus {
  padding: 1rem;
}
#idea_context {
  color: #1f3447;
  text-align: right;

  font-style: normal;
  font-weight: 400;
  line-height: 138.687%; /* 36.059px */
  letter-spacing: 0.78px;
  font-size: clamp(15px, 3vw, 26px);
  text-align: end;
  margin-top: 5rem;
  max-width: 70%;
}
.idea_container {
  padding: 5rem;
}
#idea_img {
  grid-column: 2/3;
  place-self: center;
  background: url("../asserts/idea3.jpg") no-repeat center center/cover;
  width: 120%;
  margin: 5rem;
  height: 70%;
}

/* / Idea */
/* common for pages */
.lets_head {
  padding-top: 10rem;
  padding-bottom: 2rem;
  background-color: #1f3447;
}
.new_heading_text {
  font-size: clmap(4rem, 5vw, 9rem);
  font-weight: 500;
  -webkit-text-stroke: 1.5px #ffffff33;
}
.new_des_text {
  color: white;
}
.in_hr {
  margin-top: 1rem;
}
.out_hr {
  margin-bottom: 1rem;
}

/* ---------------------------Responsiveness for desktop -------------------------------- */
@media screen and (min-width: 768px) {
  .clients_logo {
    grid-template-areas:
      "one two three"
      "four five six"
      "seven eight nine";
  }
  #vission_context {
    max-width: 40%;
  }
  .services_details {
    position: relative;
    margin-inline: auto;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
  .services_details_container > img {
    width: 4rem;
  }
}
@media screen and (min-width: 1300px) {
  .bottom_middle {
    top: 3rem;
  }
  .right_middle {
    top: -1rem;
  }
  .left_middle {
    bottom: 2.5rem;
  }
  .services_details {
    /* bottom: 7rem; */
    position: relative;
    margin-inline: 10rem auto;
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
  .services_details_container > img {
    width: 4rem;
  }
}
@media screen and (min-width: 1920px) {
  .bottom_middle {
    top: 4.5rem;
  }
  .right_middle {
    top: -2rem;
  }

  .services_details {
    /* position: relative;
    bottom: 14rem; */
    margin-inline: 38rem auto;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    margin-top: -14rem;
    margin-bottom: 2rem;
  }
  .services_details_container > img {
    width: 4rem;
  }
}
/* ------------------------- Responsiveness for mobile --------------------------------------- */

@media screen and (max-width: 768px) {
  #vission_mission {
    padding: 2rem;
  }

  /* Hero Section  */
  #hero {
    height: 93vh;
  }
  #heading {
    margin-top: 20.9%;
  }
  #description {
    padding-top: 8%;
  }
  /* ------ Hero Section ------  */
}
